.product {
  &Breadcrumbs,
  &Tabs {
    margin-bottom: 3.2rem;
  }

  &Section {
    margin-bottom: 6.4rem;
  }

  &Tabs {
    z-index: 2;
  }

  &Tab {
    @media screen and (min-width: 768px) {
      width: 33.33333%;
    }
  }
}
