.menu {
  position: relative;

  &Button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 0.8rem;
    width: 4rem;
    height: 4rem;
    background: var(--hex-white);
    transition: all 0.2s ease;

    &:focus {
      border-color: var(--color-gray-300);
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f2f4f7;
    }
  }

  &Icon {
    font-size: 1.6rem;
    color: var(--color-gray-700);
    stroke-width: 0.05rem;
  }

  &Container {
    position: absolute;
    top: calc(100% + 0.8rem);
    right: 0;
    width: 24rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-0.3rem);
    transition: all 0.2s ease;
  }

  &Content {
    border: 1px solid var(--color-gray-200);
    border-radius: 0.8rem;
    background: var(--hex-white);
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
      0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  }

  &Header {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    border-bottom: 1px solid var(--color-gray-200);
    padding: 1.2rem 1.6rem;
  }

  &AvatarWrapper {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }

  &Avatar {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  &Info {
    flex: 1;
    max-width: calc(100% - 5.2rem);
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--color-gray-600);
  }

  &Name {
    max-width: 100%;
    font-weight: 600;
    color: var(--color-gray-700);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &Email {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &List {
    padding: 0.8rem 0;
  }

  &Item {
    padding: 0 0.8rem;

    &Underline {
      border-bottom: 1px solid var(--color-gray-200);
      margin-bottom: 0.8rem;
      padding-bottom: 0.8rem;
    }
  }

  &Active {
    .menuContainer {
      opacity: 100%;
      visibility: visible;
      pointer-events: unset;
      transform: translateY(0);
    }
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 0.8rem;
  padding: 0 1rem;
  width: 100%;
  height: 4rem;
  font-family: 'Noto Sans';
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--color-gray-700);
  outline: none;
  transition: background 0.2s ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: var(--color-gray-100);
    }
  }

  &:focus {
    background: var(--color-gray-100);
  }

  &Icon {
    margin-top: 0.1rem;
    font-size: 1.6rem;
    color: var(--color-gray-700);
  }
}

.unauth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1.6rem;
  width: 100%;
  height: 20rem;

  &IconWrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 4.8rem;
    height: 4.8rem;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      border-radius: 50%;
      width: 8rem;
      height: 8rem;
      background: var(--color-gray-50);
      transform: translate(-50%, -50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      border-radius: 50%;
      width: 4.8rem;
      height: 4.8rem;
      background: var(--color-gray-100);
      transform: translate(-50%, -50%);
    }
  }

  &Icon {
    font-size: 1.8rem;
    color: var(--color-gray-700);
    stroke-width: 0.05rem;
  }

  &Message {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-gray-900);
  }

  &Button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    width: 100%;
    height: 4rem;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--hex-white);
    background: var(--hex-black);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    outline: none;
    transition: all 0.2s ease;

    @media (hover: hover) and (pointer: fine) {
      background: var(--color-gray-900);

      &:hover {
        background: var(--color-gray-800);
      }
    }

    &:focus {
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f4ebff;
    }
  }
}
