.pagination {
  &Button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-gray-300);
    border-radius: 0.8rem;
    padding: 0 1.8rem;
    width: 100%;
    height: 4.4rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-gray-700);
    background: var(--hex-white);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    transition: all 0.2s ease;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--color-gray-50);
      }
    }

    @media screen and (min-width: 576px) {
      width: fit-content;
    }

    @media screen and (min-width: 768px) {
      width: 100%;
    }

    @media screen and (min-width: 992px) {
      width: fit-content;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px #f2f4f7,
        0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }

    &:disabled {
      border-color: var(--color-gray-200);
      color: var(--color-gray-300);
      pointer-events: none;
    }

    &Squared {
      border-color: transparent;
      padding: 0;
      width: 4.4rem;
      box-shadow: none;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background: var(--color-gray-100);
        }
      }
    }

    &Divider {
      border: none;
    }

    &Active {
      background: var(--color-gray-50);
    }
  }
}
