.reviews {
  &Sort {
    margin-bottom: 2.4rem;
  }

  &Pagination {
    margin: 2.4rem 0;
  }

  &Widget {
    border: 1px solid var(--color-gray-200);
    border-radius: 0.8rem;
    padding: 2rem;
    background: var(--hex-white);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  &Review {
    border-bottom: 1px solid var(--color-gray-200);
    margin-bottom: 1.6rem;
    padding-bottom: 1.6rem;

    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.sort {
  display: flex;
  align-items: center;
  gap: 1rem;

  &Text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-gray-700);
    white-space: nowrap;
  }

  &Select {
    z-index: 1;
    width: 16rem;
  }
}
