.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &Rating {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }

  &Text {
    border: 1px solid var(--color-gray-300);
    border-radius: 0.8rem;
    padding: 1.2rem 1.4rem;
    height: 12.8rem;
    resize: none;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-gray-900);
    background: var(--color-gray-50);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    outline: none;
    transition: box-shadow 0.2s ease;

    &::placeholder {
      color: var(--color-gray-500);
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px #f4ebff,
        0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
  }

  &Button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    padding: 0 1.8rem;
    width: fit-content;
    height: 4.4rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--hex-white);
    background: var(--color-gray-900);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    transition: all 0.2s ease;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--color-gray-800);
      }
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px #f4ebff,
        0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
  }
}

.star {
  @media (hover: hover) and (pointer: fine) {
    cursor: pointer;

    &:hover {
      .starIcon {
        color: var(--color-orange-300);
      }
    }
  }

  &Input {
    &:focus ~ .starIcon {
      color: var(--color-orange-300);
    }
  }

  &Icon {
    font-size: 2.4rem;
    color: var(--color-gray-300);
    transition: color 0.2s ease;
  }

  &Active {
    .starIcon {
      color: var(--color-orange-300);
    }
  }
}
