.shop {
  padding-bottom: 9.6rem;

  &Breadcrumbs {
    margin-bottom: 3.2rem;
  }

  &Content {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }

  &Section {
    margin-bottom: 6.4rem;
  }
}
